@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Pretendard-Regular", sans-serif;
  /* WAGURITTF 폰트 적용, 폰트가 로드되지 않았을 경우에는 sans-serif 폰트를 대체로 사용 */
}

/* For Firefox */
.scrollable-container {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #fcd5ce #f1f1f1; /* For Firefox */
}

/* For WebKit browsers (Chrome, Safari, Edge) */
.scrollable-container::-webkit-scrollbar {
  height: 12px; /* Height of the horizontal scrollbar */
}

.scrollable-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the track */
}

.scrollable-container::-webkit-scrollbar-thumb {
  background: #fcd5ce; /* Color of the thumb */
  border-radius: 8px; /* Rounded corners of the thumb */
  border: 3px solid #f1f1f1; /* Border color to create spacing effect */
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background: #f9a8b1; /* Color of the thumb on hover */
}

.scrollable-container::-webkit-scrollbar-corner {
  background: #f1f1f1; /* Background color of the scrollbar corner */
}

.hidden-scrollbar {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

.custom-scrollbar {
  @apply overflow-auto; /* Tailwind의 overflow-auto 유틸리티 클래스 적용 */
  overflow-x: hidden; /* 가로 스크롤 숨기기 */
}

.custom-scrollbar::-webkit-scrollbar {
  @apply w-2; /* Tailwind의 너비 유틸리티 클래스 적용 */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0.5); /* 커스텀 스타일 */
  border-radius: 10px; /* 커스텀 스타일 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(136, 136, 136, 0.5); /* 커스텀 스타일 */
  border-radius: 10px; /* 커스텀 스타일 */
  border: 2px solid transparent; /* 커스텀 스타일 */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(136, 136, 136, 0.7); /* 커스텀 스타일 */
}

.canvas {
  height: 100vh;
  left: 0px;
  pointer-events: none;
  position: fixed;
  top: 0px;
  width: 100vw;
}
